body{font-size:16px;font-family: Arial, Helvetica, sans-serif;overflow-x:hidden;}

body .navbar{background-color: rgb(192,80,77);}
.navbar ul{width: 100%;}
.navbar .menu{margin-left: 35px;padding-top: 10px;}
.navbar .nav-item{position: relative;}
.navbar .nav-item form{margin-left: 35px;}
.navbar .nav-item form .input-search{width: 270px;height: 60px;border-radius:30px;outline: none;text-align: center;font-weight: bold;}
.navbar .nav-item .nav-link{color: rgb(255, 255, 255);font-size: 16px;}
.navbar .nav-item form .btn{width: 45px;height: 45px;background-color: rgb(255, 255, 255);}
.navbar .nav-item form i{transform: translate(-150%, 0%); font-size: 25px;color: rgb(144,183,248);}
.navbar .nav-item .cart{display: block;background-color: rgb(255, 255, 255);height: 45px; width: 45px;border-radius: 2px;}
.navbar .nav-item .cart i{font-size: 25px;color: rgb(255, 0, 0);}

.navbar li .sub-menu{position: absolute;left:10px;z-index: 1;background-color: rgb(192,80,77);list-style: none;display: none;}
.navbar li .sub-menu li a{color: rgb(255, 255, 255);font-size: 16px;}
.navbar li:hover .sub-menu{display: block;}

.index-top{margin-top: 40px;}
.carousel img{width: 100%;padding: 0 20px;}

.index-banner img{width: 100%;height: 100%;}


.index-content .col-lg-5{ border-bottom: 3px solid rgb(144,183,248);margin-bottom: 40px;}
.index-content .index-title{padding-top: 30px;margin-bottom: 30px;text-align: center;}

.index-content .col-lg-3{height: 350px;}
.index-content .col-lg-3 img{width: 261px;height:261px;margin-left: 50px;}
.index-content .col-lg-3 .index-tensp{font-size: 16px;text-align: center;font-weight: bold;margin-top: 10px;color: rgb(0,0,0);}
.index-content .col-lg-3 .gia-sp{color: rgb(255, 0, 0);margin-top: 10px;text-align: center;font-size: 16px;font-weight: bold;}
.gia-cu{margin-top: 10px;text-align: center;font-size: 16px;font-weight: bold;text-decoration-line:line-through;}

.footer .footer-top{background-color: rgb(228,108,10);height: 250px;margin-bottom: 20px;margin-top: 70px;}
.footer .footer-top p{padding-top: 40px;color: rgb(255, 255, 255);margin-left: 70px;}
.footer-top #fist{font-weight: bold;font-size: 20px;}

.footer .mid {width: 100%;}
.footer .mid div{padding-left: 70px;}
.footer .mid img{float: left;}
.footer .mid p{margin-bottom: 0px;}
.footer .mid .p-fist{color: rgb(19, 221, 80);margin-top: 10px}

.footer .bottom{background-color: rgb(0,0,0);margin-top: 20px;width: 100%;}
.footer .bottom p{color: rgb(255, 255, 255);}
.footer .bottom .bottom-fist{color: rgb(228,108,10);}
.footer .bottom  p{margin-top: 20px;margin-left: 70px;}
.footer .bottom img{width: 374px;height: 142px;padding: 10px;}


/* trang detail*/

.detail-content .row img{width:261px ; height: 261px;margin: 50px auto;display: block;border: 1px solid rgb(0,0,0);}
.detail-content .row .detail{text-align: center;}
.detail-content .row .detail h4{margin-top: 40px;}
.detail-content .row .detail form input{height: 40px;width: 40px; border: 2px solid rgb(0,0,0);margin-top: 15px;}
.detail-content .row .detail .btn-buy button{width: 150px;height: 40px; margin-top: 40px;background-color: rgb(228,108,10);color: rgb(255, 255, 255);border: 0px;}
.detail-content b{margin-left: 50px;}



/*login*/

.login-content .login-title{text-align: center;margin-top: 50px;}
.login-content .col-lg-6 p{margin-left: 60px;padding-left: 20px;font-weight:bolder ;margin-top: 40px;}
.login-content form{padding-left: 20px;margin-left: 60px;}
.login-content form button{width: 100px;background-color: rgb(255,255,255);border: rgb(0,0,0) 3px solid;}
.login-content form input{width: 80%;display: block;margin-bottom: 20px;border: rgb(0,0,0) 3px solid;}

.link{margin-left: 50px;margin-top: 20px;}
.product-title{margin-top: 40px;margin-left: 50px;font-weight: bold;font-size: 20px;margin-bottom: 30px;}
